<!-- <p>user work</p> -->
<h3>Users Components</h3>
<div class="my-2">
    <label for="">User Name: </label>
    <!-- <input class="form-control" type="text" (input)="onUpdateUser($event)"/> -->
    <input class="form-control" type="text" [(ngModel)]="userName" />
    <div> {{userName}} </div>
</div>
<button class="btn btn-primary" [disabled]="!allowNewUser" (click)="changeUserCreatedStatus()">Add User</button>

<div *ngIf="isUserCreated"> User is created and the username is {{userName}} </div>
<app-user></app-user>
